doctype html
html
    head
        title Author Data Explorer
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
        script(src='javascripts/lib/jquery/jquery-1.11.3.js')
        link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css')
        link(href='/stylesheets/jquery.dataTables.css', rel='stylesheet')

    body
        block content
