body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#dataSourcePanel button{

	margin: 4px;
}

.dataSourceSnap{
  border: 1px solid #ccc;
  border-radius: 10px;
}

.btn{
	margin: 2px
}

#attributesPanel{
	padding: 10px;
	background: #fff;
	border: 1px solid #eee;
}

.attribute{
	min-width: 30px;
	//height: 80px;
	min-height: 30px;
	background: #eee;
	padding: 4px;
	margin: 4px;
	border: 1px solid #ddd;
}

.attributeCollapse{
	position: relative;
	top: -18px;
	float: right;
}


#header{
  background: #556270;
}
#header a{
  color: #ffeeef;
}
#header a:hover{
  color: #ffffff;z
}

ul#wizardNav{
	list-style: none;
	margin: 20px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	margin: 20px auto;
}
ul#wizardNav li{
	display: inline-block;
	margin-right: 8px;
	width: 120px;
	padding: 3px 5px;
	border-bottom: 1px solid #777;
	text-align: center;
	list-style: none;
}

ul#wizardNav li:hover{
	border-bottom: 1px solid #000;

}
.dataSourceSnap{
	border: 1;
	padding: 10px; margin: 15px;
	background: #fff;
	width: 100px;
	height: 140px;

}
div.attributeProperty{
	display: inline;
	width: 80px;
}
div.attributePropertyVal{
	display: inline;
	width: 80px;
}

#interactiveFiltersAttributes{
  overflow-y: scroll;
  height: 100vh;
}
#selectVisualization div{
  display: inline-block;
  width: 170px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin: 10px
}
#selectVisualization div:hover{
  border: 1px solid #333;
}
